.app-employee-list {
  h1{
    padding-left: 30px;
  }
  .employee-item-container {
    display: inline-block;
    width: 100%;

    app-employee-item {
      margin-top: 25px;
      display: flex;
    }
    .empty-message {
      color: #BDBDBD;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
