.app-department-item {
  width: 100%;
  height: auto;
  .title {
    color: black;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;
  }
  .title:hover {
    background: #FF2F5A;
    color: white;
  }


    button {
      border: 1px solid red;
      border-radius: 5px;
      height: 30px;
      font-size: 12px;
      font-weight: 400;
      line-height: inherit;
      color: red;
    }
}
